---
export const prerender = true

import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: 'About this template' }}>
	<section class="prose flex flex-col">
		<h1>About this template</h1>
		<p>
			Consectetur fugiat culpa consequat aute occaecat nisi non ipsum anim aliqua consectetur dolor
			aute. Proident duis eu magna culpa id anim aute laboris. Sunt incididunt sunt est mollit esse
			laborum in eiusmod tempor veniam. Laborum aliquip sit incididunt fugiat sunt nisi anim
			pariatur anim exercitation dolor. Amet est ea ad occaecat adipisicing non ea.
		</p>
		<ul>
			<li>Amet voluptate duis non sint ex ipsum dolor ullamco culpa adipisicing veniam.</li>
			<li>
				Sit duis aliqua in voluptate irure pariatur sunt nisi laboris sunt nulla incididunt veniam.
			</li>
			<li>
				Consectetur fugiat culpa consequat aute occaecat nisi non ipsum anim aliqua consectetur
				dolor aute.
			</li>
			<li>
				Proident duis eu magna culpa id anim aute laboris. Sunt incididunt sunt est mollit esse
				laborum in eiusmod tempor veniam.
			</li>
		</ul>
		<p>
			Minim ad adipisicing dolor velit est dolore Lorem esse. Dolor aliquip ut nulla et occaecat.
			Aute duis minim velit labore veniam pariatur. Dolore reprehenderit culpa ea mollit non minim
			eiusmod. Elit fugiat ex nostrud ex est. Est occaecat eiusmod Lorem labore non. Est Lorem
			commodo adipisicing tempor sint commodo magna eu reprehenderit commodo amet. Qui labore sunt
			eiusmod exercitation duis eu.
		</p>
	</section>
</Layout>
