---
import type { Post } from '@/utils/sanity'
// import type { Post } from '@/sanity.types'
import Card from '@/components/Card.astro'
import NoPosts from '@/components/NoPosts.astro'
import Welcome from '@/components/Welcome.astro'
import Layout from '@/layouts/Layout.astro'
import { loadQuery } from '../../sanity/load-query'

export const prerender = false

// const posts = await getPosts()
const { data: posts } = await loadQuery<Post[]>({
  query: `*[_type == "post" && defined(slug.current)] | order(_createdAt desc) {
			...,
			'lqip': mainImage.asset->metadata.lqip,
			coverImage {
				...,
				asset->{
					...,
					metadata
				}
			},
		}`,
})
// console.log('POSTS->', posts.length)
---

<Layout seo={{ title: 'The official Sanity integration for Astro' }}>
  <Welcome />

  <section class="flex flex-col">
    {
      posts.length && (
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">
            Recent Posts
          </h2>
          <p class="mt-2 text-lg leading-8 text-gray-600">
            These {posts.length} blog posts are populated from your Sanity Studio.
          </p>
        </div>
      )
    }
    {
      posts.length ? (
        <div class="mt-6 space-y-12 border-t border-gray-200 pt-6">
          {posts.map((post) => (
            <div class="">
              <Card post={post} />
            </div>
          ))}
        </div>
      ) : (
        <NoPosts />
      )
    }
  </section>
</Layout>
