---
import Card from '@/components/Card.astro'
import Welcome from '@/components/Welcome.astro'
import Layout from '@/layouts/Layout.astro'
import { getPosts } from '@/utils/sanity'

const posts = await getPosts()
---

<Layout seo={{ title: 'The official Sanity integration for Astro' }}>
	<section class="flex flex-col gap-8">
		{
			posts.length ? (
				posts.map((post) => (
					<>
						<h1 class="text-xl font-normal">Blog posts</h1>
						<Card post={post} />
					</>
				))
			) : (
				<Welcome />
			)
		}
	</section>
</Layout>
