---
import { SITE_TITLE } from '@/consts'
const today = new Date()
---

<footer
	class="mt-8 flex w-full flex-row justify-between bg-color-sanity px-4 py-2 text-sm font-medium text-white"
>
	<div>
		&copy; {today.getFullYear()}
		{SITE_TITLE}
	</div>
	<a class="my-auto underline" href="/studio" target="_blank">Enter the Studio</a>
</footer>
