---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '@/consts'
---

<header class="w-full bg-color-sanity p-4 font-bold text-white">
	<nav class="flex flex-col items-center justify-between gap-4 px-1 md:flex-row">
		<h2 class="font-sans text-2xl font-black"><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex gap-4 font-heading text-base">
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
