---
import { SITE_TITLE } from '@/consts'
import Nav from './Nav.astro'
---

<header class="fixed inset-0 z-50 flex h-24 items-center bg-white/80 backdrop-blur-lg">
  <div class="container mx-auto py-6 sm:px-6">
    <div class="flex items-center justify-between gap-5">
      <a class="flex items-center gap-2" href="/">
        <svg
          viewBox="0 0 128 128"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          class="h-7 rounded-full text-red-500 sm:h-10">
          <title>Sanity</title>
          <g clip-path="url(#clip0_1_821)">
            <rect width="128" height="128" fill="currentColor"></rect>
            <path
              d="M39.4229 33.1629C39.4229 44.1614 46.3362 50.7055 60.1767 54.1563L74.8429 57.4971C87.9417 60.453 95.9185 67.7945 95.9185 79.7554C96.0204 84.9662 94.296 90.053 91.0345 94.1634C91.0345 82.23 84.751 75.7822 69.595 71.9052L55.1947 68.6881C43.6633 66.1035 34.7628 60.068 34.7628 47.076C34.7021 42.0589 36.3415 37.1644 39.4229 33.1629"
              fill="white"></path>
            <path
              d="M82.0221 76.827C88.2776 80.759 91.0206 86.2583 91.0206 94.1497C85.8426 100.666 76.7462 104.323 66.0545 104.323C48.0576 104.323 35.4626 95.6207 32.6637 80.4978H49.9468C52.172 87.4406 58.0636 90.6577 65.9285 90.6577C75.5287 90.6577 81.9102 85.6258 82.0361 76.7995"
              fill="#F9B1AB"></path>
            <path
              d="M48.4074 49.4682C45.5509 47.8004 43.2073 45.404 41.6255 42.5332C40.0437 39.6624 39.2825 36.4244 39.423 33.1629C44.419 26.7013 53.1095 22.7556 63.7033 22.7556C82.0361 22.7556 92.6439 32.2693 95.2608 45.66H78.6354C76.8021 40.3807 72.212 36.27 63.8433 36.27C54.9008 36.27 48.7992 41.3843 48.4494 49.4682"
              fill="#F9B1AB"></path>
          </g>
          <defs>
            <clipPath id="clip0_1_821">
              <rect width="128" height="128" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-5 text-black/70">
          <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path>
        </svg>
        <svg
          width="40"
          height="40"
          viewBox="0 0 85 107"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M27.5893 91.1365C22.7555 86.7178 21.3443 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4374 78.2199 52.0358 77.7822 59.2231 74.2459C60.0453 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.3179 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6844 102.089C39.2086 99.8193 38.5065 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5893 91.1365Z"
            fill="#17191E"></path>
          <path
            d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z"
            fill="#17191E"></path>
        </svg>

        <span class="hidden pl-2 text-lg font-semibold lg:block"> {SITE_TITLE} </span>
      </a>

      <Nav />
    </div>
  </div>
</header>
